@import '../../../assets/variables.scss';

@media only screen and (max-width: $tabletView) {
    .hero-container {
        overflow: hidden;

        .hero #left-side {
            text-align: center;
            #text h1 span{
                color: inherit;
            }
            #tablet-view-p {
                display: initial;
                span {
                    color: $accentOrange;

                }
            }

            #laptop-view-p {
                display: none;
            }

            #buttons {
                margin-left: auto;
                margin-right: auto;
                flex-direction: column;
                $containerHeight: 9em;
                min-width: 50%;
                height: $containerHeight;

                #sign-up-with-google,
                #sign-up-with-email {
                    width: 100%;
                    height: $containerHeight/2.3;
                }
            }
        }

        .hero #left-side #text p {
            display: none;
        }
    }
}

@media only screen and (max-width: 900px) {
    .hero-container {

        .hero {
            height: 60vh;
            // margin-top: 1em;
            flex-direction: column;
            justify-content: space-evenly;

            #text h1 {
                text-align: center;
            }

            #video {
                // display: none;
                // min-width: 100%;
                height: 30%;
                width: 110%;
                margin: 0;

                video {
                    width: inherit;
                    height: auto;
                }
            }

            #left-side {
                height: 70%;
                width: 100%;
            }
        }

    }
}