<div [ngClass]="sticky ? 'floating':'' "  id="nav-container">
    <nav [style.top]=" visible ? '1%': '-40%'" >
        <div id="links-section">
            <li id="home-link"><img src="assets/icon/favicon-32-ua.png" />slack</li>
            <li id="product">
                <span>Product</span>
                <ol id="hidden-product-menu">
                    <li>Features</li>
                    <li>Channels</li>
                    <li>Digital HQ</li>
                    <li>integration</li>
                    <li>Security</li>
                    <li>Slack Connect</li>
                    <li>Customers</li>
                    <li>Download Slack</li>
                </ol>
            </li>
            <li>Solutions</li>
            <li>Enterprise</li>
            <li>Resources</li>
            <li>Pricing</li>
        </div>
        <div id="button-section">
            <li><button [style.backgroundColor]="sticky ? 'white' : ''" id="search-button">
                <img *ngIf="!sticky" src="/assets/icon/search_icon_light.svg" />
                <img *ngIf="sticky" [style.backgroundColor]="'white'" src="/assets/icon/search_icon_dark.svg" />
            </button></li>
            <li>Sign In</li>
            <li app-talk-to-sales-button [buttonColor]="sticky ? talkToSalesButtonColor:'white'" id="talk-to-sales"></li>
            <li 
                app-try-for-free-button 
                [backgroundColor]="sticky ? talkToSalesButtonColor:''" 
                id="try-for-free"
                [buttonColor]="sticky ? 'white': talkToSalesButtonColor"
                ></li>
            <!-- <li id="try-for-free"><button>TRY FOR FREE</button></li> -->
        </div>
    </nav>
</div>