<div id="nav-container">
    <nav>
        <li id="home-link"><img src="assets/icon/favicon-32-ua.png" />Slack</li>
        <li>
            Product
            <ol id="hidden-product-menu">
                <li>Features</li>
                <li>Channels</li>
                <li>Digital HQ</li>
                <li>integration</li>
                <li>Security</li>
                <li>Slack Connect</li>
                <li>Customers</li>
            </ol>
        </li>
        <li>Solutions</li>
        <li>Enterprise</li>
        <li>Resources</li>
        <li>Pricing</li>
        <li><button>Search Button</button></li>
        <li>Sign In</li>
        <li><button>TRY FOR FREE</button></li>
    </nav>
</div>