@import '../../assets/variables.scss';

#nav-container {
    background-color: $purpleGlobal;

    nav {
        overflow: hidden;
        margin: auto;
        list-style-type: none;
        max-width: $maxWidth;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 2em;
        color: white;
        height: 5em;
        font-family: 'Slack-larsseit-bold';
        font-size: 1rem;

        li {
            cursor: pointer;
        }

        #button-section,
        #links-section {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            height: 100%;

            li {
                height: inherit;
                display: flex;
                align-items: center;
            }
        }

        #button-section {

            padding-left: 15%;
            height: inherit;

            #search-button {
                background-color: $purpleGlobal;
                border: none;
                height: 40%;

                width: fit-content;

                img {
                    height: 80%;
                }
            }

            #talk-to-sales{
                height: 60%;
                width: 30%;
            }

            #try-for-free {
                height: 55%;
                width: 30%;

                button {
                    border: 2px solid white;
                    border-radius: 5px;
                    cursor: pointer;
                    font-family: 'Slack-larsseit-bold';
                    text-align: center;

                    width: 100%;
                    height: 100%;
                    color: white;
                    // border: none;
                    background: none;
                    transition: border-width 0.1s linear;

                    &:hover {
                        border-width: 4px;
                    }
                }

            }
        }

        #links-section {
            padding-left: 2%;

            li:hover {
                text-decoration: underline;
            }

            #product {
                &:hover {
                    text-decoration: none;
                }

                span {
                    position: relative;
                }

                span::after {
                    position: absolute;
                    content: url('../../assets/svgs/icon_chevron_white_nav.svg');
                    top: -25%;
                    right: -25%;
                    transition: all 0.2s ease;
                }

                &:hover>span::after {
                    transform: rotate(180deg);
                }
            }

            #hidden-product-menu {
                display: none;
                position: absolute;
                font-family: 'Slack-larsseit-regular';
                top: 7%;
                left: 23%;
                background-color: white;
                color: black;
                list-style-type: none;
                width: 16em;
                max-width: 300px;
                border-radius: 10px;

                li {
                    padding: 5%;
                    padding-left: 8%;
                    font-size: 1em;
                }

                li:hover {
                    color: white;
                    text-decoration: none;
                    background-color: rgb(35, 35, 187);
                }

                --webkit-transition: all 0.3s ease-in;
            }

            #product:hover #hidden-product-menu {
                // transition: hiddenMenuTransition 1s ease-in;
                display: block;
                animation: hiddenMenuInsertion 0.3s ease-in;
            }
        }

        //NOTE: need to create an animation when the menu goes back to hidden state.
        // You can also create an component for the hidden menu component to reduce the size the bundle size.

    }

    #home-link {

        position: relative;
        font-weight: 700;
        font-size: 1.5em !important;



        img {

            height: 40%;
            top: 25%;
            left: -69%;
            position: absolute;

        }
    }

}

@keyframes hiddenMenuInsertion {
    0% {
        opacity: 0;
        top: 3%;
    }

    to {
        opacity: 1;
        top: 7%;

    }
}