<div [ngClass]="sticky ? 'floating':'' " id="nav-container">
    <nav>
        <div id="links-section">
            <li id="home-link"><img src="assets/icon/favicon-32-ua.png" />slack</li>
            <li id="product">
                <span>Product</span>
                <ol id="hidden-product-menu">
                    <li>Features</li>
                    <li>Channels</li>
                    <li>Digital HQ</li>
                    <li>integration</li>
                    <li>Security</li>
                    <li>Slack Connect</li>
                    <li>Customers</li>
                    <li>Download Slack</li>
                </ol>
            </li>
            <li>Solutions</li>
            <li>Enterprise</li>
            <li>Resources</li>
            <li>Pricing</li>
        </div>
        <div id="button-section">
            <li><button id="search-button"><img src="assets/icon/search_icon_light.svg" /></button></li>
            <li>Sign In</li>
            <li app-talk-to-sales-button id="talk-to-sales"></li>
            <li app-try-for-free-button id="try-for-free"></li>
            <!-- <li id="try-for-free"><button>TRY FOR FREE</button></li> -->
        </div>
    </nav>
</div>