@import '../../../assets/variables.scss';

#features-container {
    width: 100%;
    background-color: $globalBackgroundColor;
    #brand-features {
        margin: auto;
        max-width: $maxWidth;
        
        #customer-brands {
            h3 {
                width: 100%;
                text-align: center;
                font-family: 'Slack-larsseit-regular';
                height: 6em;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            ol {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-left: 15%;
                padding-right: 15%;
                align-items: center;
                list-style-type: none;
            }
        }
    }
    // this border was added becuase of a bug that was not allowing the following compoennt to get the full height of the content.
    #features{
        border:1px solid rgba(255, 255, 255, 0);
    }
}