@import '../../../assets/variables.scss';

section {
    background-color: $globalBackgroundColor;
    height: 40em;
    // min-height: fit-content;
    /* the following border was added because the 
    margin-top was not working for some reason. 
    It worked only when the container had border of 
    ateast 1px;*/

    border: 1px solid $globalBackgroundColor;

    h1 {
        width: fit-content;
        margin: 1.5em auto;
        font-size: 2em;
        font-family: $BoldFonts;
    }


    #cards-container {
        margin: auto;
        max-width: $maxWidth;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-height: fit-content;
        height: fit-content;

        #main-card {
            background-color: $purpleGlobal;
        }

        .card {

            height: 26em;
            width: 18.5em;
            color: white;
            transition: all 0.3s ease;
            padding: 0.7em;
            font-family: $BoldFonts;

            #upper-section {
                height: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

            }

            #lower-section {
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                a {
                    position: absolute;
                    bottom: 0%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }


}

#welcome-hq-container {
    height: 29em;
    width: 100%;
    background-image: url('../../../assets/svgs/curve2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-around;

    #welcome-hq {
        width: 100%;
        max-width: $maxWidth;
        font-family: $BoldFonts;
        color: white;
        margin: auto;
        font-size: 1.6em;

        h1 {
            margin: 0 auto;
            margin-bottom: 2%;
        }

        #button-container {
            height: fit-content;
            width: fit-content;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: space-evenly;

            li {
                margin: 5px;
                font-size: 0.6em;
                width: 11em;
                height: 3.8em;
            }
        }
    }
}