@import '../../../assets/variables.scss';

@media only screen and (max-width: $tabletView) {
    #realiable-container {
        overflow: hidden;

    }
}

#reliable-container {
    width: 100%;
    height: fit-content;
    font-family: 'Slack-larsseit-regular';
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20em;
        width: $maxWidth;
        margin: auto;


        h1,
        p,
        #buttons {
            font-family: 'Slack-larsseit-bold';
            width: fit-content;
            margin: auto;
        }

        p {
            font-family: 'Slack-larsseit-regular';

        }

        h1 {
            font-size: 3em;
        }

        #buttons {
            width: 39%;
            height: 24%;
            font-size: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            * {
                cursor: pointer;
            }

            #meet-slack-enterprise {
                font-size: inherit;
                font-family: 'Slack-larsseit-regular';
                background-color: $purpleGlobal;
                color: white;
                border-radius: 5px;
                padding-left: 20px;
                padding-right: 20px;
                width: 60%;

                &:hover {
                    background-color: #4a154b;
                }
            }

            #sales-button {
                width: 38%;
                font-family: 'Slack-larsseit-regular' !important;

                button {}
            }
        }

        #misc-metrics-container {
            position: absolute;
            width: inherit;
            height: 20em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            z-index: -1;

            .misc-metric {
                height: 50%;
                width: 80%;
                display: flex;
                justify-content: space-between;

                img {
                    height: inherit;
                }
            }

            &> :nth-child(2) {
                margin-left: -7%;
            }

            &> :nth-child(3) {
                margin-right: -3%;
            }
        }
    }

    #metrics {
        // margin: auto;
        width: $maxWidth;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        margin: 5em auto;

        .metric-container {
            height: 100%;

            .metric,
            .metric-info {
                text-align: center;
                width: 12rem;

                font-family: 'Slack-larsseit-bold';
            }

            h1.metric {
                font-size: 4em;
                color: $purpleGlobal;
            }

        }
    }

    #featured-video {
        max-width: calc($maxWidth + 10em);
        margin: auto;
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        padding-bottom: 4em;

        p#footnote {
            position: absolute;
            font-size: 0.8em;
            font-family: 'Slack-larsseit-regular';

            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        #left-section {
            width: 70%;
            position: relative;

            video {
                height: 25em;
            }

            svg {
                position: absolute;
                transform-origin: 50% 50%;
                top: 40%;
                left: 49%;
                background-color: #36c5f0;
            }

            video:hover+svg {
                background-color: #1264a3;
            }
        }

        #right-section {
            width: auto;
            padding: 0em 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p#quote {
                font-style: italic;
                font-weight: 100;
                font-size: 1.70em;
                font-family: 'Slack-larsseit-regular';

            }
        }
    }

    .link-container {

        overflow: hidden;

        height: fit-content;
        width: fit-content;

        a {
            text-decoration: none;
            position: relative;
            width: fit-content;
            color: #1264a3;

            span {
                font-size: 2em;
            }

            &::after {
                content: '';
                width: 100%;
                position: absolute;
                bottom: 0;
                left: -100%;
                border-bottom: 1px solid $linkColor;
                transition: left 0.3s ease;
            }
        }

        &:hover>a::after {
            left: 0;
        }
    }
}