#menu-button{
    width: 20px;
    height: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: none ;
    hr{
        border: 1px solid white;
        width: inherit;
    }
}