// change the following varaible to white or black according to the background color.
$buttonTheme: black;

button {
    
    height: 100%;
    width: 100%;
    font-size: inherit;
    border: 1px solid $buttonTheme;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;

    color: $buttonTheme;
    background: none;
    transition: border-width 0.1s linear;

    &:hover {
        border-width: 3px;
    }


}