@import '../../../../assets/variables.scss';

.card {
    height: 26em;
    width: 18.5em;
    transition: all 0.3s ease;
    background-color: white;

    &:hover {
        transform: scale(1.1);
    }

    #upper-section {
        display: flex;
        height: 53%;
        img {
            margin: auto;
            height: 85%;
        }
    }

    #lower-section {
        height: (100% - 53%);
        margin: 1em;
        margin-top: 0;
        position: relative;
        font-family: $BoldFonts;

        a {
            position: absolute;
            bottom: 6%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $BoldFonts;
            color: $linkColor;
        }
    }
}