$globalpadding: 16em;
$purpleGlobal: #541554;
$maxWidth: 1350px;
$globalBackgroundColor:#f4ede4;
$BoldFonts:'Slack-larsseit-bold';
$RegularFonts:'Slack-larsseit-regular';
$linkColor: #1264a3;
$accentOrange: #ecb22e;

/*************************************************************/
/**************************Breakpoints************************/
// 
$tabletView: 1180px;

@media  only screen and (max-width: $tabletView) {
    $maxWidth: $tabletView;
}
@media screen {
}